.centro{
    background-color: lightgray;
    padding: 50px;
}
.formulario{
    box-shadow: 2px 2px 5px #888888;
    border-radius: 10px;
    padding: 20px;
    background-color: beige;
}
.foto{
    border-radius: 50%;
    height: 50px;
}
.seccion div{
    padding: 20px;
    border-radius: 20px;
}
.seccion img{
    height: 100px;
    margin-bottom: 10px;
}
.seccion a{
    background-color: red;
    color: white !important;
    border-radius: 5px; 
    padding: 5px;
}
.izquierda div{
    background-color: beige;
}
.medio div{
    background-color: lightskyblue;
}
.derecha div{
    background-color: lightgreen;
}